<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <pre>
    Helps you stay clean and sober! Rewards system! Automatic daily messages.

Developed by a Harvard educated licensed chemical dependency and certified alcoholism and drug counselor, this app is for recovering Alcoholics and Addicts and anyone who wants to stay clean and sober or free from a bad habit. It gives you free, immediate help at your fingertips...Cravings can attack unexpectedly, and sometimes you cannot reach anyone, but you can always touch your smart phone, tablet, or other device. IF YOU GET AN URGE TO RELAPSE, JUST TOUCH THIS APP AND YOU WILL SEE A MESSAGE TO HELP YOU STOP CRAVING AND DEAL WITH THE SPECIFIC ISSUE THAT IS CAUSING YOUR CRAVING. You should also use this App each day even if you do not feel like relapsing. Just touch a question on the main page, and follow along for a helpful message relevant to issues that you are currently experiencing. You can also opt for congratulatory rewards and automatic daily messages.

 This App is for you if you:

- think you may be an ALCOHOLIC or you may be ADDICTED to anything. Examples: alcohol, opiates, cocaine, methamphetamine, marijuana, sex, spending, gambling, food, nicotine, internet, etc.

- are new to sobriety and need a fast and easy tool to beat cravings and frightening, out of control thoughts and feelings.

- have been clean and sober for awhile but you still feel stress, want to change self defeating behaviors, and want to enjoy sobriety.

- just completed inpatient or intensive outpatient treatment and want to stay sober.

- want to stay sober for your family or friends or YOURSELF.

- have struggled staying sober before.

- want a tool to help you when you can't reach your Sponsor, support person, therapist, or get to a meeting.

- want help keeping a strong, daily recovery program.

- have experienced legal or any kind of trouble as a result of alcohol, drugs, or other addictive behaviors.

- are being required to stay sober by an Employee Assistance Program, court system, professional assistance program, employer, school, licensing bureau, etc.

-feel stuck or stressed in your recovery and you want to have fun while staying clean and sober.

- keep making the same mistakes over and over again even though you are holding onto your sobriety and want to change these self defeating behaviors.

- need help in making successful decisions that don't jeopardize your sobriety.

This App is also extremely useful for treatment centers, hospitals, addiction counselors, psychologists, social workers, chemical dependency counselors, psychiatrists, 12 step sponsors and other therapists who need a resource for finding answers to common issues experienced by their patients.

This free App is based on proven techniques and authored by a Harvard educated, licensed chemical dependency counselor and internationally certified alcohol and drug counselor who personally has over 26 years of uninterrupted sobriety. Some of the materials in this App contain theories related to cognitive behavioral therapy, mindfulness training, 12 step practice, stress reduction techniques, and motivational enhancement therapy. It also contains slogans commonly heard at 12 step meetings and during other therapy sessions. This App is not a substitute for treatment!

         This app respects YOUR PRIVACY, does not require you to give any personal information! It will not invade your contact list.

         This app is easy, fun and fast. It leads you to specific answers to specific problems you are currently experiencing and all you have to do is touch its prompts.  It even has a reward system! You can also choose to receive a daily recovery message.  The mobile app even has a Search Engine you can choose to find helpful answers to sobriety threatening issues.

           DISCLAIMER:  None of the information in this App creates a counselor patient relationship or should substitute for any other forms of therapy. The User waives the right to make any claims against Author, Developer or any other party for any misinterpretations or any injuries claimed from the use of this App. This App is not therapy or treatment and does not substitute for therapy or treatment. Although the intent is to eventually make this App a charitable orgaization under applicable laws, it is currently not a charitable organization such that donations are not tax deductible.

            Remember, every addict has two brains: a "dirty brain" and a "clean brain." The "dirty brain" wants to drink, use, or someway act out which ultimately causes trouble. The "clean brain" wants to stay clean and sober and free from trouble. This app causes us to use our "clean brain" particularly when our "dirty brain" invades. It substitutes the threatening thought with a truthful, rescuing thought. It changes our perception of a situation from something distressful to something manageable and even positive. It does this with ease and speed.
  </pre>
  <!--The <a href="http://www.railstutorial.org/"><em>Ruby on Rails-->
  <!--Tutorial</em></a> is a-->
  <!--<a href="http://www.railstutorial.org/book">book</a> and-->
  <!--<a href="http://screencasts.railstutorial.org/">screencast series</a>-->
  <!--to teach web development with-->
  <!--<a href="http://rubyonrails.org/">Ruby on Rails</a>.-->
  <!--This is the sample application for the tutorial.-->
</p>