<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Click on the dropdown list of words and choose one that speaks to you or describes your feelings. You will then be given a choice of messages that may help you find sobriety, peace, and even serenity with issues that may have been troubling you. Try memorizing and repeating the title of the message you find helpful as you go through the rest of your day.

OR

Touch a question that is relevant right now in the list of 8 questions, then touch a question on the new screen, then touch a message title, then read your message. If the first message doesn't help, find another. Remember the title of the helpful message you find and repeat tit to yourself as you go through your day.

Any questions, or if you wish to unsubscribe from the daily notifications and rewards, please contact:  cleanandsobertoolbox@gmail.com.
  <!--Get help on the Ruby on Rails Tutorial at the-->
  <!--<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.-->
  <!--To get help on this sample app, see the-->
  <!--<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>-->
  <!--book</a>.-->
</p>