<div class="center jumbotron">
  <h1>Welcome to the Sorber Tool</h1>

  <h2>
    Free, Fast, Effective Relief From Alcoholism and Addiction.
    <!--<%= link_to "Sober Tool", root_path %>-->
    <!--<a href="http://www.railstutorial.org/">Sorber Tool</a>-->
    <!--sample application.-->
  </h2>
  <% if logged_in? %>
    <%= link_to "View my profile", current_user, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up now to get access to messages!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>-->