<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <table>
    <tbody>
        <tr>
            <td><h5><a href="/categories/876">Are you thinking about relapsing?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/1310">Are you experiencing bad feelings?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/1810">Do you need motivation to attend meetings or to do the steps?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/1446">Are you questioning whether you are addicted?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/1535">Do you need help making a decision?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/2379">Do you need to change a self defeating behavior?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/1935">Do you need spirituality?</a></h5></td>
        </tr>
        <tr>
            <td><h5><a href="/categories/2380">Looking for a random message? (Android users: Click menu, then Random Messages)</a></h5></td>
        </tr>
    </tbody>
  </table>
</div>